### Executing code in a remote process

Suppose we wanted to use some functions defined in the following q process:

In [1]:
/ Open another q process
system $[.z.o like"w*";"start ";],"q rmt.q -p 4044"

The file ``rmt.q`` contains the following code:

In [ ]:
/ run the cell to see the content of the file
/%loadscript rmt.q

This allows to call the functions in the process either synchronously or asynchronously using a handle:

In [2]:
/ Open connection
h:hopen`::4044

/ Synchronous
h"add . 2 3"
/Asynchronous
neg[h]"add . 3 3"

5

In addition, as the script ```jupyterq_remote.q``` is loaded in the remote process, ```/%remote handle``` allows to run code in the remote process easily:

In [1]:
/%remote h
hello:f("Hello";"World")
table:rndtab 100

And completion or help can be used as if the remote process was the server process the notebook is running:

In [ ]:
/%remote h
ad   / place your cursor anywhere in the word and hit tab
tab    / if you place your cursor in this word and hit TAB you should see a drop down with table and tables
rndtab / if you place your cursor anywhere and hit SHIFT TA, you should obtain info about the function

Variable ``hello`` in the remote process should contain the string "Hello World":

In [3]:
"Hello World"~h"hello"

1b

And ``table`` is a table that we can query:

In [2]:
/%remote h
select from table where sym=`A
select avg price by sym from table

time         sym price
-------------------------
00:16:31.025 A   15.17091
00:32:08.956 A   15.1598
01:15:49.472 A   14.11597
01:23:51.162 A   10.83889
01:28:03.675 A   11.95991
01:42:57.587 A   13.75638
02:01:41.131 A   16.13745
03:13:29.907 A   19.49975
03:28:48.269 A   15.75905
04:15:16.827 A   10.81235
04:53:08.684 A   19.44167
05:28:08.747 A   10.13921
05:31:41.221 A   17.14878
05:38:18.182 A   11.94651
06:44:20.731 A   19.32632
07:02:54.903 A   10.57525
07:16:54.852 A   12.56066
07:24:52.364 A   11.02443
07:29:31.107 A   18.6711
08:04:51.809 A   17.5201
..

sym| price
---| --------
A  | 15.18263
B  | 14.2251
C  | 15.23465

Or load in the notebook:

In [4]:
10#t:h"table"
select from t where price<15

time         sym price
-------------------------
00:03:17.484 C   13.92752
00:16:31.025 A   15.17091
00:32:08.956 A   15.1598
00:33:10.867 B   14.06664
00:44:37.591 C   11.78084
00:53:08.324 B   13.01772
00:53:31.660 C   17.85033
01:04:18.632 B   15.3471
01:11:57.854 B   17.11172
01:15:49.472 A   14.11597

time         sym price
-------------------------
00:03:17.484 C   13.92752
00:33:10.867 B   14.06664
00:44:37.591 C   11.78084
00:53:08.324 B   13.01772
01:15:49.472 A   14.11597
01:17:27.614 C   14.93183
01:23:51.162 A   10.83889
01:28:03.675 A   11.95991
01:42:57.587 A   13.75638
02:33:08.380 B   12.29662
02:43:26.164 C   14.70788
03:07:08.088 B   12.30638
03:27:45.539 C   14.39081
04:03:04.576 C   13.89056
04:06:03.749 B   13.91543
04:15:16.827 A   10.81235
04:20:03.661 B   12.78212
04:26:56.542 C   12.39234
04:28:21.989 B   11.50813
04:34:15.435 B   11.56732
..

In [5]:
/ Close q process
neg[h](exit;0);